<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>House Portal</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/profile/<%= user.local.email %>"><img src="/img/<%= user.local.photo %>"></a>User's photo, linked to public profile page</li>
          <li><a href="/house/<%= user.local.house %>"></a></li>
          <li>link to profile.ejs</li>
        </ul>
      </nav>
    </header>
    <h2>House Portal</h2>
    <section class="top bills main">
      <h3>Upcoming Bills</h3>
      <ul>
        <!-- Bills collection loaded here, showing all bills associated with the house for the month. Fields shown: bill link, user in charge, amount left (client-side javascript subtracting current amount property from total amount property from bills collection document), users not yet fully paid, days left, button to make a payment(actually also links to bill's page) -->
        <% for(var i = 0; i < bills.length; i++) { %>
        <li>
          <a href="LINK TO INDIVIDUAL BILL PAGE HERE. RENDER BILL.EJS">
        <span><%= bills[i].owedTo %></span>
        <span><%= bills[i].amount %></span>
        <span><%= bills[i].dueDate %></span>
        <span><%= bills[i].careTaker %></span></li>
        </a>
        <% } %>
      </ul>
    </section>
    <section class="middle discussion main">
      <ul>
        <li></li>
      </ul>
    </section>
    <section class="bottom debts main">
      <h3>What you owe</h3>
      <ul>
        <!-- gotta find out how to load only the ones where the user owes somebody/something -->
        <% for(var i = 0; i < transactions.length; i++) { %>
          <% if(transactions[i]. )
          <li>
            <!-- in case of a bill between people, owedTo becomes user ID -->
            <span><%= transactions[i].owedTo %></span>
            <span><%= transactions[i].amount %></span>
            <span><%= transactions[i].dueDate %></span>
          </li>
        <!-- <li>transactions collection here, specifically loading the ones where the user owes somebody </li> -->
        <% } %>
      </ul>
      <!-- end loop here -->
    </section>

    <section class="bottom owed main">
      <h3>What others owe you</h3>
      <ul>
        <!-- for loop here -->
        <!-- <li>transactions collection here, specifically loading the ones where the user is owed</li> -->
      </ul>
      <!-- end loop here -->
    </section>


  </body>
</html>
