<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Transaction Page</title>
  </head>
  <body>
    <section class="transaction top">
      <!-- middle section with documents -->
      <ul class="transaction info">
        <% for(var i = 0; i < notes.length; i++) { %>
        <li>
          <span><%= transactions[i].bill %></span>
          <!-- User here -->
          <span><%= transactions[i].date %></span>
          <span><%= transactions[i].amount %></span>
          <span><%= transactions[i].date %></span>
        </li>
        <% } %>
      </ul>
      <!-- Put confirm button here to be visible only to caretaker -->
    </section>

    <section class="transactions middle docs">
      <!-- middle section with documents -->
      <ul>
        <% for(var k = 0; k < documents.length; k++) { %>
        <li>
          <span><%= documents[k].name %></span>
          <span><%= documents[k].fileSize %></span>
          <span><%= documents[k].name %></span>
          <button type="button" name="button">Add</button>
          <button type="button" name="button">Delete</button>
        </li>
        <% } %>
      </ul>
    </section>

    <section class="transactions bottom notes">
      <!-- middle section with documents -->
      <ul class="transactions public notes">
        <% for(var m = 0; m < notes.length; m++) { %>
        <li>
          <span><%= notes[m].name %></span>
          <span><%= notes[m].note %></span>
          <button type="button" name="button">Delete</button>
          <!-- Make possible to delete own notes -->
        </li>
        <% } %>
      </ul>

      <ul class="transactions private notes">
        <% for(var b = 0; b < notes.length; b++) { %>
        <li>
          <span><%= notes[b].name %></span>
          <span><%= notes[b].note %></span>
          <button type="button" name="button">Delete</button>
          <!-- Make possible to delete own notes -->
        </li>
        <% } %>
      </ul>
    </section>
  </body>
</html>
